<input [formControl]="control"/>
    <!-- <ng-container *ngIf="cardForm.controls.name.touched && cardForm.controls.name.errors && cardForm.controls.name.dirty">
        <div *ngIf="cardForm.controls.name.errors?.['required']">
            Value is required. Please enter a valid name.
        </div>
        <div *ngIf="cardForm.controls.name.errors?.['minlength']">
            Value you entered is
            {{ cardForm.controls.name.errors['minlength'].actualLength }} characters. Please enter at least 
            {{ cardForm.controls.name.errors['minlength'].requiredLength }} characters.
        </div>
    </ng-container> -->